/*
 * Color.es :: Built-in Palette
 * >__ by misterZik
 * ----------------------------
 * colores Default Colors.
 */
/*
 * Color.es :: Built-in Palette
 * >__ by misterZik
 * ----------------------------
 * Functionality
 */
/*
 * Color.es :: Built-in Palette
 * >__ by misterZik
 * ----------------------------
 * Colores - Config
 * ----------------
 */
/*
   * Colores - Palette
   */
/*
 * Color.es :: Built-in Palette
 * >__ by misterZik
 * ----------------------------
 * Colores - Palette
 * ----------------
 */
/*
 * Color.es :: Built-in Palette
 * >__ by misterZik
 * ----------------------------
 * colores Built-in Palette
 */
.colores {
  /* Primary */
  /* Red  */
  /* Pink */
  /* Purple */
  /* Blue */
  /* Cyan */
  /* Green */
  /* Yellow */
  /* Orange */
  /* Brown */
  /* Grey */ }
  .colores.primary {
    background: black; }
  .colores.primary-light {
    background: white; }
  .colores.primary-dark {
    background: #424242; }
  .colores.primary-darker {
    background: #212121; }
  .colores.red {
    background: #f44336; }
  .colores.red-light {
    background: #ef5350; }
  .colores.red-dark {
    background: #e53935; }
  .colores.red-darker {
    background: #d32f2f; }
  .colores.pink {
    background: #e91e63; }
  .colores.pink-light {
    background: #ec407a; }
  .colores.pink-dark {
    background: #d81b60; }
  .colores.pink-darker {
    background: #c2185b; }
  .colores.purple {
    background: #9c27b0; }
  .colores.purple-light {
    background: #ab47bc; }
  .colores.purple-dark {
    background: #8e24aa; }
  .colores.purple-darker {
    background: #7b1fa2; }
  .colores.blue {
    background: #2196f3; }
  .colores.blue-light {
    background: #42a5f5; }
  .colores.blue-dark {
    background: #1e88e5; }
  .colores.blue-darker {
    background: #1976d2; }
  .colores.cyan {
    background: #00bcd4; }
  .colores.cyan-light {
    background: #26c6da; }
  .colores.cyan-dark {
    background: #00acc1; }
  .colores.cyan-darker {
    background: #0097a7; }
  .colores.green {
    background: #4caf50; }
  .colores.green-light {
    background: #66bb6a; }
  .colores.green-dark {
    background: #43a047; }
  .colores.green-darker {
    background: #388e3c; }
  .colores.yellow {
    background: #f4b400; }
  .colores.yellow-light {
    background: #f7cb4d; }
  .colores.yellow-dark {
    background: #f09300; }
  .colores.yellow-darker {
    background: #fb8c00; }
  .colores.orange {
    background: #ff9800; }
  .colores.orange-light {
    background: #ffa726; }
  .colores.orange-dark {
    background: #fb8c00; }
  .colores.orange-darker {
    background: #fb8c00; }
  .colores.brown {
    background: #795548; }
  .colores.brown-light {
    background: #8d6e63; }
  .colores.brown-dark {
    background: #6d4c41; }
  .colores.brown-darker {
    background: #5d4037; }
  .colores.grey {
    background: #9e9e9e; }
  .colores.grey-light {
    background: #bdbdbd; }
  .colores.grey-dark {
    background: #757575; }
  .colores.grey-darker {
    background: #212121; }

.txt-cls {
  /* Font Color - Colores */
  /* Primary */
  /* Red  */
  /* Pink */
  /* Purple */
  /* Blue */
  /* Cyan */
  /* Green */
  /* Yellow */
  /* Orange */
  /* Brown */
  /* Grey */ }
  .txt-cls.primary {
    color: black; }
  .txt-cls.primary-light {
    color: white; }
  .txt-cls.primary-dark {
    color: #424242; }
  .txt-cls.primary-darker {
    color: #212121; }
  .txt-cls.red {
    color: #f44336; }
  .txt-cls.red-light {
    color: #ef5350; }
  .txt-cls.red-dark {
    color: #e53935; }
  .txt-cls.red-darker {
    color: #d32f2f; }
  .txt-cls.pink {
    color: #e91e63; }
  .txt-cls.pink-light {
    color: #ec407a; }
  .txt-cls.pink-dark {
    color: #d81b60; }
  .txt-cls.pink-darker {
    color: #c2185b; }
  .txt-cls.purple {
    color: #9c27b0; }
  .txt-cls.purple-light {
    color: #ab47bc; }
  .txt-cls.purple-dark {
    color: #8e24aa; }
  .txt-cls.purple-darker {
    color: #7b1fa2; }
  .txt-cls.blue {
    color: #2196f3; }
  .txt-cls.blue-light {
    color: #42a5f5; }
  .txt-cls.blue-dark {
    color: #1e88e5; }
  .txt-cls.blue-darker {
    color: #1976d2; }
  .txt-cls.cyan {
    color: #00bcd4; }
  .txt-cls.cyan-light {
    color: #26c6da; }
  .txt-cls.cyan-dark {
    color: #00acc1; }
  .txt-cls.cyan-darker {
    color: #0097a7; }
  .txt-cls.green {
    color: #4caf50; }
  .txt-cls.green-light {
    color: #66bb6a; }
  .txt-cls.green-dark {
    color: #43a047; }
  .txt-cls.green-darker {
    color: #388e3c; }
  .txt-cls.yellow {
    color: #f4b400; }
  .txt-cls.yellow-light {
    color: #f7cb4d; }
  .txt-cls.yellow-dark {
    color: #f09300; }
  .txt-cls.yellow-darker {
    color: #fb8c00; }
  .txt-cls.orange {
    color: #ff9800; }
  .txt-cls.orange-light {
    color: #ffa726; }
  .txt-cls.orange-dark {
    color: #fb8c00; }
  .txt-cls.orange-darker {
    color: #fb8c00; }
  .txt-cls.brown {
    color: #795548; }
  .txt-cls.brown-light {
    color: #8d6e63; }
  .txt-cls.brown-dark {
    color: #6d4c41; }
  .txt-cls.brown-darker {
    color: #5d4037; }
  .txt-cls.grey {
    color: #9e9e9e; }
  .txt-cls.grey-light {
    color: #bdbdbd; }
  .txt-cls.grey-dark {
    color: #757575; }
  .txt-cls.grey-darker {
    color: #212121; }
